<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [selected]=true tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="hymns">
      <ion-label>Hymns</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="church-location">
      <ion-label>Location</ion-label>
      <ion-icon ios="compass" md="locate-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="recent-chats">
      <ion-label>Profile</ion-label>
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-label>More</ion-label>
      <ion-icon name="menu"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>